body {
    background-color: #CCCCCC
}

header {
    background-color: rgb(255, 222, 0);
    padding: 20px;
}

.logo {
    width: 25%;
}

.caixa {
  width: 1000px;
  position: relative;
  margin: 0 auto ;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

.links {
    display: inline;
    margin-left: 40px;
}

nav a {
    text-transform: uppercase; color: rgb(202, 0, 0);
    text-decoration: none;
    font-weight: bold;   
    font-size: 25px;
}

.pratos {
    width: 1000px;
    position: relative;
    margin: 0 auto ;   
}

.pratos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.imagens {
    width: 400px;
}   